$card-lg-top-margin: 24px
$card-margin: 12px
$card-cover-height: 240px
$card-cover-width: 360px
.FiredArea
  display: block
  width: 100%
  margin-top: 30px
  text-align: center

.Card,
a.Card
  position: relative
  display: block
  min-height: 240px
  background-color: #FEFEFE
  margin-bottom: 30px
  color: $c-black
  &:hover
    text-decoration: none
    box-shadow: 0 0 4px #4D4D4D

.Card--fired
  img.Card-FiredMark
    position: absolute
    top: -10px
    left: -30px
    display: block
    height: 95px
    z-index: 3

.Card-Meta
  display: flex
  justify-content: space-around
  height: 32px

.Card-Meta--up
  background-color: $c-red
  .Card-Meta-Trend
    &:before
      content: "\25B2"
      color: $c-white
.Card-Meta--down
  background-color: $c-green
  .Card-Meta-Trend
    &:before
      content: "\25BC"
      color: $c-white

.Card-Meta-Hot,
.Card-Meta-Trend
  display: inline-block
  height: 100%
  width: auto
  line-height: 32px
  font-size: 18px
  color: $c-white

.Card-Meta-Hot
.Card-Meta-Trend

.Card-Cover
  display: block
  height: 240px
  background: repeating-linear-gradient(to right, #FAD799, #FAD799 10px, #FFE7BD 10px, #FFE7BD 20px) 
  // background-image: url(http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg)
  background-size: cover
  background-position: 50%

.Card-Comment
  display: -webkit-box
  display: block
  height: 48px
  font-size: 20px
  line-height: 24px
  margin: $card-margin
  text-align: center
  overflow: hidden
  text-overflow: ellipsis
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical

////////////
// RWD
////
$fired-card-meta-height: 64px
@media screen and (min-width: 750px)
  .Card--fired,
  a.Card--fired
    position: relative
    display: inline-block
    padding-left: 360px
    height: 240px
    width: 650px
    .Card-Cover
      position: absolute
      top: 0
      left: 0
      width: 360px
      height: 100%
      margin: 0
    .Card-SubWrapper
      position: relative
      display: block
      height: 100%
      padding-bottom: $fired-card-meta-height
      overflow: hidden
    .Card-Meta
      position: absolute
      display: block
      right: 0
      bottom: 0
      height: $fired-card-meta-height
      width: 100%
    .Card-Meta-Hot,
    .Card-Meta-Trend
      display: block
      height: $fired-card-meta-height / 2
      width: 100%
      text-align: center
    .Card-Comment
      font-size: 20px
      line-height: 1.8
      height: 150px
      -webkit-line-clamp: 4
