.EventInfo
  display: block
  width: 100%
  text-align: center

.EventInfo-Meta
  display: flex
  justify-content: space-around
  height: 40px

.EventInfo-Meta--up
  background-color: $c-red
.EventInfo-Meta--down
  background-color: $c-green

.EventInfo-Meta-Hot,
.EventInfo-Meta-Trend
  display: inline-block
  height: 100%
  line-height: 40px
  font-size: 16px
  color: $c-white

.EventInfo-Title
  display: inline-block
  width: 500px
  font-size: 24px
  line-height: 30px
  text-align: center
  color: $c-black
  padding: 20px 0
