.event-left-wrapper
  position: fixed
  top: 70px
  bottom: 0
  left: 0
  right: 0
  display: block
  width: 100%
  padding: 10px
  padding-right: 310px

.event-right-wrapper
  position: fixed
  top: 70px
  bottom: 0
  right: 0
  display: block
  width: 300px
  padding: 10px

.Event
  border-radius: 5px
  overflow: hidden
  background-color: $c-white
  height: 100%
  width: 100%
